# ====================
# Python
# ====================
__pycache__/
*.pyc
*.pyo

# ====================
# Virtual environments
# ====================
.venv/
venv/

# ====================
# OS junk
# ====================
.DS_Store
Thumbs.db

# ====================
# Dataset folders
# ====================
train/
valid/
test/
self_test/
README.dataset.txt
README.roboflow.txt

# ====================
# Base YOLO weights
# ====================
yolov8n.pt
yolo26n.pt
yolov9n.pt

# ====================
# YOLO runs folder
# ====================
# Ignore all prediction folders
runs/detect/predict*/

# Ignore everything in train folder
runs/detect/train/*

# But keep specific result files and best.pt
!runs/detect/train/weights/
!runs/detect/train/weights/best.pt
!runs/detect/train/confusion_matrix.png
!runs/detect/train/labels.jpg
!runs/detect/train/results.csv
!runs/detect/train/results.png